main {
    display: flex;
    flex: 70%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

aside {
    font-family: 'Montserrat', sans-serif;
    flex: 30%;
    height: 100%;
    background-color: #101010;
    color: #fff;
    box-shadow: -4px 1px 5px 0px rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: -4px 1px 5px 0px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: -4px 1px 5px 0px rgba(0, 0, 0, 0.25);
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

aside section {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

aside section p {
    font-weight: 700;
}

div.poster {
    max-width: 600px;
    width: 100%;
    aspect-ratio: 0.75/1;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    padding: 2rem;
    border-radius: 5px;
    transform: scale(.95);
    transition: 200ms ease-in transform;
    color: #fff;
}

div.poster:hover {
    transform: scale(1);
}

div.poster h1 {
    text-align: center;
    font-size: 3rem;
    white-space: nowrap;
    overflow: hidden;
}

.day {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.day h2 {
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
}

.headliner,
.featured,
.other {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    gap: .5rem;
    justify-content: center;
    flex-wrap: wrap;
    text-transform: uppercase;
    text-align: center;
}

.headliner a,
.featured a,
.other a {
    text-decoration: none;
}

.headliner a:hover,
.featured a:hover,
.other a:hover {
    text-decoration: underline;
}

.headliner {
    font-size: 3rem;
    font-weight: 900;
}

.headliner a {
    color: #fff;
}

.featured {
    font-size: 1.5rem;
    font-weight: 800;
}

.featured a {
    color: #eee;
}

.other {
    font-size: 1rem;
    font-weight: 700;
}

.other a {
    color: #ddd;
}

.divider {
    width: 50px;
    border: 1px solid white;
    margin: 0 auto;
}

form {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
}

form label {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5rem;
    cursor: pointer;
}

form label:has(input:checked) {
    color: #229935;
}

form label:has(input:checked) img,
form label:has(input:checked) div {
    border: 2px solid #229935;
}

form label:hover img,
form label:hover div {
    border: 2px solid #fff !important;
}

form label img,
form label div {
    border-radius: 5px;
    height: 100%;
    max-height: 135px;
}

form label div {
    height: 135px;
    width: 100px;
    background: #202020;
    display: flex;
    justify-content: center;
    align-items: center;
}

form label input {
    opacity: 0;
    height: 0;
    width: 0;
}

#download {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    width: 100%;
    background: #101010;
    border: 2px solid #229935;
    border-radius: 5px;
    color: #229935;
    padding: .5rem;
    transition: 200ms ease-in;
    font-size: 1rem;
}

#download:hover {
    background-color: #229935;
    color: #101010;
    cursor: pointer;
}

.source {
    width: 100%;
    display: none;
    padding: .75rem 1rem;
    background: #202020;
    font-size: .75rem;
    border-radius: 5px;
}

.source a {
    color: white;
    font-weight: 400;
}

body:has(#beach:checked) .poster {
    background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.75)), url("/static/images/beach.jpeg");
    /* https://www.pexels.com/photo/blue-textile-1078981/ */
}

body:has(#beach:checked) p#beach {
    display: block;
}

body:has(#party:checked) .poster {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/static/images/party.jpeg");
    /* https://images.pexels.com/photos/1317365/pexels-photo-1317365.jpeg */
}

body:has(#party:checked) p#party {
    display: block;
}

body:has(#winter:checked) .poster {
    background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url("/static/images/winter.jpeg");
    /* https://images.pexels.com/photos/2422497/pexels-photo-2422497.jpeg */
}

body:has(#winter:checked) p#winter {
    display: block;
}

body:has(#custom:checked) .poster {
    background: var(--custom-color);
    background-image: var(--custom-image);
}

input[type="text"] {
    font-family: 'Montserrat', sans-serif;
    padding: .5rem;
    border: 2px solid #fff;
    border-radius: 5px;
    width: 100%;
    color: #fff;
    background: #101010;
    font-size: 1rem;
}

#customcolor,
#customimage {
    display: none;
    width: 100%;
}

body:has(#custom:checked) #customcolor,
body:has(#custom:checked) #customimage {
    display: block
}

.intro h1 {
    font-size: 3rem;
}

@media screen and (max-width: 992px) {
    body.poster {
        display: block;
        height: max-content;
    }

    body.poster h1 {
        font-size: 2rem;
        white-space: wrap;
    }

    .headliner {
        font-size: 2rem;
        font-weight: 900;
    }

    .featured {
        font-size: 1.25rem;
        font-weight: 800;
    }

    .other {
        font-size: .75rem;
        font-weight: 700;
    }

    body.poster aside h1 {
        text-align: left;
    }

    .day h2 {
        text-align: center;
        font-size: .75rem;
        font-weight: 400;
    }

    div.poster:hover {
        transform: scale(.95);
    }
}

footer p {
    text-align: left;
}