* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    line-height: 1;
}

html,
body {
    height: 100%;
    font-family: 'DynaPuff', sans-serif;

}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #101010;
    background-color: #101010;
    background-image: radial-gradient(circle, rgba(255, 255, 255, 0.08) 1px, transparent 1px);
    background-size: 20px 20px;
}

main {
    display: flex;
    flex: 70%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

aside {
    font-family: 'Montserrat', sans-serif;
    flex: 30%;
    height: 100%;
    background-color: #101010;
    color: #fff;
    box-shadow: -4px 1px 5px 0px rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: -4px 1px 5px 0px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: -4px 1px 5px 0px rgba(0, 0, 0, 0.25);
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

aside section {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

aside section p {
    font-weight: 700;
}

.poster {
    max-height: calc(100vh - 100px);
    aspect-ratio: .75/1;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    padding: 2rem;
    border-radius: 5px;
    transform: scale(.95);
    transition: 200ms ease-in;
    color: #fff;
}

.poster:hover {
    transform: scale(1);
}

.poster h1 {
    text-align: center;
    font-size: 3rem;
}

.day {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.day h2 {
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
}

.headliner,
.featured,
.other {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    gap: .5rem;
    justify-content: center;
    flex-wrap: wrap;
    text-transform: uppercase;
    text-align: center;
}

.headliner a,
.featured a,
.other a {
    text-decoration: none;
}

.headliner a:hover,
.featured a:hover,
.other a:hover {
    text-decoration: underline;
}

.headliner {
    font-size: 3rem;
    font-weight: 900;
}

.headliner a {
    color: #fff;
}

.featured {
    font-size: 1.5rem;
    font-weight: 800;
}

.featured a {
    color: #eee;
}

.other {
    font-size: 1rem;
    font-weight: 700;
}

.other a {
    color: #ddd;
}

.divider {
    width: 50px;
    border: 1px solid white;
    margin: 0 auto;
}

form {
    display: flex;
    gap: 1rem;
}

form label {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5rem;
}

form label img {
    border-radius: 5px;
    height: 100%;
    max-height: 135px;
}

#download {
    font-weight: 700;
    width: 100%;
    background: #101010;
    border: 2px solid #229935;
    border-radius: 5px;
    color: #229935;
    padding: .5rem;
}

body:has(#beach:checked) .poster {
    background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.75)), url("/static/images/beach.jpeg");
    /* https://images.pexels.com/photos/1078981/pexels-photo-1078981.jpeg */
}

body:has(#party:checked) .poster {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/static/images/party.jpeg");
    /* https://images.pexels.com/photos/1317365/pexels-photo-1317365.jpeg */
}

body:has(#winter:checked) .poster {
    background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url("/static/images/winter.jpeg");
    /* https://images.pexels.com/photos/2422497/pexels-photo-2422497.jpeg */
}